body{
    font-family: 'Montserrat', sans-serif;
}
.nav{
    background-color: #323232;
}
.logo{
    padding-top: 10px;
    padding-bottom: 10px;
}
.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.input {
    padding: 10px;
    width: 35px;
    height: 35px;
    background: none;
    border: 2px solid #ffffff;
    border-radius: 50px;
    box-sizing: border-box;
    font-size: 19px;
    color: #ffffff;
    outline: none;
    transition: .5s;
}
.box:hover input{
    width: 280px;
    background: rgb(88, 88, 88);
    border-radius: 10px;
    border-color: rgb(95,95,95);
}
i{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%,-50%);
    font-size: 18px;
    color: #ffffff;
    transition: .2s;
}
.box:hover i{
    opacity: 0;
    z-index: -1;
}
.head{
    background-color: black;
}
.airpods_title,.desc_title{
    color: white;
    text-align: center;
}
.airpods_title{
    font-size: 48px;
    font-weight: 600;
    padding-top: 50px;
    padding-bottom: 15px;
    opacity: 0.1;
    transition: all 2s ease 0s;
}
.airpods_title._active{
    opacity: 1;
}
.desc_title{
    font-size: 24px;
    font-weight: 400;
    padding-bottom: 15px;
    transition: all 1s ease 0s;
    transform: translate(0,50px);
    opacity: 0;
}
.desc_title._active{
    transform: translate(0,0);
    opacity: 1;
}
#btn1{
    border-radius: 20.5px;
    padding: 6px 20px;
    display: block;
    margin: auto;
    background-color: #0092E4;
    opacity: 0;
    transition: all 2.5s ease 0s;
}
#btn1._active{
    opacity: 1;
}
.left,.right{
    padding-top: 40px;
    padding-left: 40px;
    padding-bottom: 98px;
}
.left{
    transition: all 2.5s ease 0s;
    transform: translate(-400px,0);
}
.left._active{
    transform: translate(0,0);
}
.right{
    transition: all 2.5s ease 0s;
    transform: translate(400px,0);
}
.right._active{
    transform: translate(0,0);
}
.y_nig{
    padding-top: 142px;
    transition: all 2s ease 0s;
    transform: translate(-200px,0);
}
.y_nig._active{
    transform: translate(0,0);
}
.music,.desc_music{
    display: flex;
    justify-content: flex-end;
    transition: all 2s ease 0s;
    transform: translate(100px,0);
}
.music._active,.desc_music._active{
    transform: translate(0,0);
}
.girl_pods{
    float: right;
    transition: all 2s ease 0s;
    transform: translate(200px,0);
}
.girl_pods._active{
    transform: translate(0,0);
}
.music{
    font-size: 64px;
    font-weight: 700;
    padding-top: 137px;
}
.desc_music{
    font-size: 36px;
    font-weight: 400;
}
.about2,.about1,.about3,.about4{
    background-color: #FAFAFA;
}
.engraving{
    padding-top: 213px;
    font-size: 48px;
    font-weight: 700;
    padding-bottom: 90px;
    text-align: center;
    transform: translate(-200px,0);
    transition: all 2s ease 0s;
}
.engraving._active{
    transform: translate(0,0);
}
.pods{
    display: block;
    margin: auto;
    padding-bottom: 240px;
    opacity: 0;
    transition: all 3s ease 0s;
}
.pods._active{
    opacity: 1;
}
.airpods_max{
    font-size: 144px;
    font-weight: 700;
    padding-top: 172px;
    text-align: center;
    transform: translate(0,350px);
    transition: all 1.5s ease 0s;
}
.airpods_max._active{
    transform: translate(0,0);
}
.max_img{
    position: relative;
    transform: translate(-50%,-60%);
    left: 50%;
    margin-bottom: -350px;
    padding-bottom: 50px;
}
.choose{
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    padding-top: 257px;
    transform: translate(-200px,0);
    transition: all 2s ease 0s;
}
.choose._active{
    transform: translate(0,0);
}
.mac1,.mac2,.mac3{
    padding-top: 40px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    opacity: 0;
}
.mac1{
    transition: all 0.5s ease 0s;
}
.mac2{
    transition: all 2.5s ease 0s;
}
.mac3{
    transition: all 4s ease 0s;
}
.mac1._active,.mac2._active,.mac3._active{
    opacity: 1;
}
.desc1,.desc2,.desc3{
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}
.desc1{
    transition: all 0.5s ease 0s;
}
.desc2{
    transition: all 2.5s ease 0s;
}
.desc3{
    transition: all 4s ease 0s;
}
.desc1._active,.desc2._active,.desc3._active{
    opacity: 1;
}
#btn2{
    display: block;
    margin: auto;
    border-radius: 20.5px;
    padding: 6px 20px;
    background-color: #0092E4;
}
a:hover{
    text-decoration: none;
}
.cost1,.cost2,.cost3{
    padding-top: 15px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 190px;
}
.cost1{
    transition: all 0.5s ease 0s;
}
.cost2{
    transition: all 2.5s ease 0s;
}
.cost3{
    transition: all 4s ease 0s;
}
.cost1._active,.cost2._active,.cost3._active{
    opacity: 1;
}
.mac1,.desc1,.cost1{
    padding-left: 35px;
}
.airpods_pro_img{
    padding-top: 66px;
    padding-left: 45px;
    opacity: 0;
    transition: all 2.5s ease 0s;
}
.airpods_pro_img._active{
    opacity: 1;
}
.airpods_2_img{
    padding-top: 36px;
    padding-left: 5px;
    opacity: 0;
    transition: all 0.5s ease 0s;
}
.airpods_2_img._active{
    opacity: 1;
}
.airpods_max_img{
    opacity: 0;
    transition: all 4s ease 0s;
}
.airpods_max_img._active{
    opacity: 1;
}
.but{
    padding-left: 30px;
}
.foot{
    background-color: #323232;
}
.flogo{
    padding-top: 20px;
    display: block;
    margin: auto;
}
.ftext1{
    padding-top: 20px;
    color: white;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
}
.ftext2{
    margin-top: -10px;
    text-align: center;
    color: white;
    font-size: 12px;
    font-weight: 400;
    padding-bottom: 20px;
}
.burger-menu__button{
    position: absolute;
    top: 7px;
    z-index: 30;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #323232;
    transition: 0.4s;
}
.burger-menu__lines,
.burger-menu__lines::after,
.burger-menu__lines::before{
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: white;
}
.burger-menu__lines{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.burger-menu__lines::before{
    top: -8px;
    content: "";
}
.burger-menu__lines::after{
    top: 8px;
    content: "";
}
.burger-menu_active .burger-menu__button,
.burger-menu_active .burger-menu__lines{
    background-color: transparent;
}
.burger-menu_active .burger-menu__lines::after{
    top: 0;
    transform: rotate(-45deg);
}
.burger-menu_active .burger-menu__lines::before{
    top: 0;
    transform: rotate(45deg);
}
.burger-menu__nav{
    padding-top: 110px;
    position: fixed;
    z-index: 20;
    display: flex;
    flex-flow: column;
    height: 100%;
    background-color: #323232;
    overflow-y: auto;
    right: -100%;
    transition: 0.5s;
}
.burger-menu_active .burger-menu__nav{
    right: 0;
}
.burger-menu__link{
    text-decoration: none;
    padding-left: 50px;
    padding-right: 110px;
    padding-top: 0px;
    font-size: 19px;
    font-weight: 400;
    letter-spacing: 1px;
    color: white;
}
.burger-menu__link:hover{
    text-decoration: none;
    filter: brightness(0.7);
    color: gray;
}
.burger-menu__overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
}
.burger-menu_active .burger-menu__overlay{
    display: block;
    background-color: rgba(0,0,0,0.5);
}
hr{
    width: 300px;
    background-color: #383838;
    height: 2px;
}
.soc{
    padding-top: 180px;
    padding-left: 60px;
    display: flex;
}
.face{
    padding-right: 35px;
    padding-left: 35px;
}