body{
    font-family: 'Montserrat', sans-serif;
}
.nav{
    background-color: #323232;
}
.logo{
    padding-top: 10px;
    padding-bottom: 10px;
}
.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.input {
    padding: 10px;
    width: 35px;
    height: 35px;
    background: none;
    border: 2px solid #ffffff;
    border-radius: 50px;
    box-sizing: border-box;
    font-size: 19px;
    color: #ffffff;
    outline: none;
    transition: .5s;
}
.box:hover input{
    width: 280px;
    background: rgb(88, 88, 88);
    border-radius: 10px;
    border-color: rgb(95,95,95);
}
i{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%,-50%);
    font-size: 18px;
    color: #ffffff;
    transition: .2s;
}
.box:hover i{
    opacity: 0;
    z-index: -1;
}
.iphone12{
    padding-top: 100px;
    padding-bottom: 208px;
    opacity: 0;
    transition: all 1s ease 0s;
    transform: translate(-500px,0);
}
.iphone12._active{
    opacity: 1;
    transform: translate(0,0);
}
.iphone12_title,.cost{
    font-size: 48px;
    font-weight: 600;
    opacity: 0;
    transition: all 1s ease 0s;
    transform: translate(0,-50px);
}
.iphone12_title._active,.cost._active{
    opacity: 1;
    transform: translate(0,0);
}
.iphone12_title{
    padding-top: 150px;
}
.cost{
    padding-top: 35px;
}
.desc{
    margin-top: -459px;
    margin-bottom: 57px;
}
.display1,.display_res1,.matrix1,.freq1,.memory1,.oper_sys1{
    font-weight: 600;
    opacity: 0;
    transform: translate(100px,0);
    transition: all 1s ease 0s;
}
.display1._active,.display_res1._active,.matrix1._active,.freq1._active,.memory1._active,.oper_sys1._active{
    opacity: 1;
    transform: translate(0,0);
}
#btn1{
    padding: 10px 98px;
    font-size: 24px;
    border-radius: 40px;
    background-color: #0092E4;
    opacity: 0;
    transform: translate(0,50px);
    transition: all 1s ease 0s;
}
#btn1._active{
    transform: translate(0,0);
    opacity: 1;
}
.foot{
    background-color: #323232;
}
.about{
    padding-bottom: 128px;
}
.flogo{
    padding-top: 62px;
    display: block;
    margin: auto;
}
.ftext1{
    padding-top: 20px;
    color: white;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
}
.ftext2{
    margin-top: -10px;
    text-align: center;
    color: white;
    font-size: 12px;
    font-weight: 400;
    padding-bottom: 40px;
}
.burger-menu__button{
    position: absolute;
    top: 7px;
    z-index: 30;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #323232;
    transition: 0.4s;
}
.burger-menu__lines,
.burger-menu__lines::after,
.burger-menu__lines::before{
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: white;
}
.burger-menu__lines{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.burger-menu__lines::before{
    top: -8px;
    content: "";
}
.burger-menu__lines::after{
    top: 8px;
    content: "";
}
.burger-menu_active .burger-menu__button,
.burger-menu_active .burger-menu__lines{
    background-color: transparent;
}
.burger-menu_active .burger-menu__lines::after{
    top: 0;
    transform: rotate(-45deg);
}
.burger-menu_active .burger-menu__lines::before{
    top: 0;
    transform: rotate(45deg);
}
.burger-menu__nav{
    padding-top: 110px;
    position: fixed;
    z-index: 20;
    display: flex;
    flex-flow: column;
    height: 100%;
    background-color: #323232;
    overflow-y: auto;
    right: -100%;
    transition: 0.5s;
}
.burger-menu_active .burger-menu__nav{
    right: 0;
}
.burger-menu__link{
    text-decoration: none;
    padding-left: 50px;
    padding-right: 110px;
    padding-top: 0px;
    font-size: 19px;
    font-weight: 400;
    letter-spacing: 1px;
    color: white;
}
.burger-menu__link:hover{
    text-decoration: none;
    filter: brightness(0.7);
    color: gray;
}
.burger-menu__overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
}
.burger-menu_active .burger-menu__overlay{
    display: block;
    background-color: rgba(0,0,0,0.5);
}
hr{
    width: 300px;
    background-color: #383838;
    height: 2px;
}
.soc{
    padding-top: 180px;
    padding-left: 60px;
    display: flex;
}
.face{
    padding-right: 35px;
    padding-left: 35px;
}
@media screen and (max-width: 575px){
    html,body{
        overflow-x: hidden;
    }
    .logo{
        width: 30%;
    }
    .box{
        display: none;
    }
    .title{
        font-size: 35px;
    }
    .burger-menu__button{
        position: absolute;
        left: 82%;
        top: -42px;
    }
    .burger-menu__nav{
        padding-top: 50px;
        transition: 0.5s;
    }
    .burger-menu__link{
        font-size: 16px;
        margin-left: -10px;
        padding-right: 40px;
    }
    hr{
        width: 150px;
        margin-left: 25px;
    }
    .soc{
        margin-top: -50px;
        margin-left: -40px;
    }
    .iphone12{
        width: 70%;
        display: block;
        margin: auto;
        padding-top: 80px;
    }
    .iphone12_title{
        font-size: 32px;
        text-align: center;
        margin-top: -300px;
    }
    .cost{
        font-size: 29px;
        padding-bottom: 500px;
        text-align: center;
    }
    .desc{
        font-size: 15px;
    }
    #btn1{
        padding: 12px;
        padding-left: 25px;
        padding-right: 25px;
        font-size: 17px;
        display: block;
        margin: auto;
    }
}